* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: none;
}

button:active,
button:focus,
input:active,
input:focus {
    outline: none;
}

button,
input {
    border: 0;
}

button {
    text-transform: none;
}

:where(button, input, select) {
    margin: 0;
}

:where(button) {
    text-transform: none;
}

:where(button, input:is([type=button i], [type=reset i], [type=submit i])) {
    -webkit-appearance: button;
}

.s__dqLrjmV81lbY2ctpQQWt {
    --button_overlay_alpha_8: var(--black_alpha_8);
    --button_overlay_alpha_12: var(--black_alpha_12);
    --button_overlay_alpha_16: var(--black_alpha_16);
}

.s__PPkSyOOcz_Pd3X2fKTwO {
    flex-shrink: 0;
}

.s__WErm7_CLb_ylgTog3lrX {
    align-items: center;
    border: 0;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    justify-content: center;
    padding: 0;
    position: relative;
}

.s__WErm7_CLb_ylgTog3lrX:disabled {
    opacity: .5;
}

.s__StP9lgSIqJnskicSyix1 {
    --color: var(--green_500);
}

.s__f1UsosWbVEKg57lLhkEC {
    background: var(--color);
    color: var(--white);
}

.s__hozqdl8_u1owv7f58Vov {
    font-family: var(--text-font-family);
    font-weight: 400;
}

.s__hozqdl8_u1owv7f58Vov {
    font-size: 15px;
    line-height: 19px;
}

.s__jLthuOOSZixeExVBMy_w {
    font-family: var(--text-font-family);
    font-weight: 400;
}

.s__jLthuOOSZixeExVBMy_w {
    font-size: 11px;
    line-height: 14px;
}

.s__upeCgrZcNrlLziTnQvDN {
    font-family: var(--text-font-family);
    font-weight: 400;
}

.s__upeCgrZcNrlLziTnQvDN {
    font-size: 15px;
    line-height: 22px;
}

@media (max-width:767px) {
    .s__HLWgkBC9TdsHSs4C7GgX {
        font-family: var(--text-font-family);
        font-weight: 400;
    }

    .s__HLWgkBC9TdsHSs4C7GgX {
        font-size: 15px;
        line-height: 19px;
    }

    .s__Lrz8pict9CWP2T8btbYb {
        font-size: 13px;
        line-height: 17px;
    }

    .s__Lrz8pict9CWP2T8btbYb,
    .s__XKZOSKNzU20ugFQrJnJ_ {
        font-family: var(--text-font-family);
        font-weight: 400;
    }

    .s__XKZOSKNzU20ugFQrJnJ_ {
        font-size: 11px;
        line-height: 14px;
    }

    .s__e5zING4gGyNGr_mW4tTV {
        font-family: var(--text-font-family);
        font-weight: 400;
    }

    .s__e5zING4gGyNGr_mW4tTV {
        font-size: 15px;
        line-height: 22px;
    }
}

.s__ypCs9fRIPeeRn0KtSRKZ {
    --size-multiplier: 1;
}

.s__b94KuPvLBpZNvD6FxUf8 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.s__hsrlyzlx3QWLSvlrnWHX {
    --size-multiplier: 1.66667;
}

.s__zD3AwamEnPIArRJVcCHD {
    flex-direction: row;
}

.s__u_K6Z6G7PGoYltrwSeMG>.s__BVsFWQEwUNO7M1tMeawO {
    color: var(--brand_primary_500);
}

.s__VG75kQ4PnKMq3SwIw6iI {
    height: calc(30px*var(--size-multiplier));
    width: calc(30px*var(--size-multiplier));
}

.s__cCGD7UbTD_SASCJxsmFV {
    --design-system-input-background: var(--white);
    --design-system-input-border: var(--black_alpha_16);
    --design-system-input-value: var(--ink_800);
    --design-system-input-placeholder: var(--ink_400);
    --design-system-input-title: var(--ink_400);
    --design-system-input-caption: var(--ink_400);
    --design-system-input-placeholder-mask: var(--ink_300);
    --design-system-input-focus-border: var(--brand_primary_500);
    --design-system-input-hover-border: var(--black_alpha_40);
    --design-system-input-disable-value: var(--ink_400);
    --design-system-input-disable-placeholder: var(--ink_400);
    --design-system-input-disable-border: var(--black_alpha_4);
    --design-system-input-disable-background: var(--black_alpha_4);
    --design-system-input-disable-title: var(--ink_400);
    --design-system-input-disable-placeholder-mask: var(--ink_400);
    --design-system-input-disable-caption: var(--ink_400);
    --design-system-input-error-border: var(--red_500);
    --design-system-input-error-caption: var(--red_500);
}

.s__ARwzYWIGLsyCeSWx6QSe {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.s__HLyisaFKNBZdGi9s4tIp {
    --background-layer: 1;
    --placeholder-mask-layer: 2;
    --input-layer: 3;
    --right-element-layer: 4;
    --title-layer: 4;
    --left-padding: 15px;
    --right-padding: 0px;
    --top-padding: 12px;
    --bottom-padding: 12px;
    --border-radius: 12px;
    --padding: var(--top-padding) var(--right-padding) var(--bottom-padding) var(--left-padding);
    border-radius: var(--border-radius);
    opacity: 1;
    position: relative;
    transition-duration: .5s;
    transition-property: background-color, opacity;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 100%;
}

.s__HLyisaFKNBZdGi9s4tIp[data-size=small] {
    --top-padding: 8px;
    --bottom-padding: 8px;
    --border-radius: 8px;
    height: 36px;
}

.s__HLyisaFKNBZdGi9s4tIp:after {
    background-clip: padding-box;
    background-color: var(--design-system-input-background);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .5s;
    transition-property: background;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    z-index: var(--background-layer);
}

.s__IUyhs0reoG80AXvvgvZI:not(#\#) {
    outline: none !important;
}

.s__IUyhs0reoG80AXvvgvZI {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid var(--design-system-input-border);
    border-radius: var(--border-radius);
    bottom: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--design-system-input-value);
    height: 100%;
    left: 0;
    padding: var(--padding);
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .5s;
    transition-property: background, border, color, padding-top, padding-bottom;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 100%;
    z-index: var(--input-layer);
}

.s__IUyhs0reoG80AXvvgvZI[data-size=small] {
    font-family: var(--text-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
}

@media (hover:hover),
(pointer:fine) {
    .s__IUyhs0reoG80AXvvgvZI:not(:disabled):not(:focus):not(.s__hx_iwg5fo1g0KRYLL7f8):hover {
        border: 1px solid var(--design-system-input-hover-border);
    }
}

.s__IUyhs0reoG80AXvvgvZI:disabled {
    border: 1px solid var(--design-system-input-disable-border);
    color: var(--design-system-input-disable-value);
    cursor: not-allowed;
}

.s__IUyhs0reoG80AXvvgvZI:focus {
    border: 1px solid var(--design-system-input-focus-border);
}

.s__cCGD7UbTD_SASCJxsmFV {
    --design-system-input-background: var(--white);
    --design-system-input-border: var(--black_alpha_16);
    --design-system-input-value: var(--ink_800);
    --design-system-input-placeholder: var(--ink_400);
    --design-system-input-title: var(--ink_400);
    --design-system-input-caption: var(--ink_400);
    --design-system-input-placeholder-mask: var(--ink_300);
    --design-system-input-focus-border: var(--brand_primary_500);
    --design-system-input-hover-border: var(--black_alpha_40);
    --design-system-input-disable-value: var(--ink_400);
    --design-system-input-disable-placeholder: var(--ink_400);
    --design-system-input-disable-border: var(--black_alpha_4);
    --design-system-input-disable-background: var(--black_alpha_4);
    --design-system-input-disable-title: var(--ink_400);
    --design-system-input-disable-placeholder-mask: var(--ink_400);
    --design-system-input-disable-caption: var(--ink_400);
    --design-system-input-error-border: var(--red_500);
    --design-system-input-error-caption: var(--red_500);
}

.s__ARwzYWIGLsyCeSWx6QSe {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.s__HLyisaFKNBZdGi9s4tIp {
    --background-layer: 1;
    --placeholder-mask-layer: 2;
    --input-layer: 3;
    --right-element-layer: 4;
    --title-layer: 4;
    --left-padding: 15px;
    --right-padding: 0px;
    --top-padding: 12px;
    --bottom-padding: 12px;
    --border-radius: 12px;
    --padding: var(--top-padding) var(--right-padding) var(--bottom-padding) var(--left-padding);
    border-radius: var(--border-radius);
    opacity: 1;
    position: relative;
    transition-duration: .5s;
    transition-property: background-color, opacity;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 100%;
}

.s__HLyisaFKNBZdGi9s4tIp[data-size=small] {
    --top-padding: 8px;
    --bottom-padding: 8px;
    --border-radius: 8px;
    height: 36px;
}

.s__HLyisaFKNBZdGi9s4tIp:after {
    background-clip: padding-box;
    background-color: var(--design-system-input-background);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .5s;
    transition-property: background;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    z-index: var(--background-layer);
}

.s__IUyhs0reoG80AXvvgvZI:not(#\#) {
    outline: none !important;
}

.s__IUyhs0reoG80AXvvgvZI {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 1px solid var(--design-system-input-border);
    border-radius: var(--border-radius);
    bottom: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--design-system-input-value);
    height: 100%;
    left: 0;
    padding: var(--padding);
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .5s;
    transition-property: background, border, color, padding-top, padding-bottom;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 100%;
    z-index: var(--input-layer);
}

.s__IUyhs0reoG80AXvvgvZI[data-size=small] {
    font-family: var(--text-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
}

@media (hover:hover),
(pointer:fine) {
    .s__IUyhs0reoG80AXvvgvZI:not(:disabled):not(:focus):not(.s__hx_iwg5fo1g0KRYLL7f8):hover {
        border: 1px solid var(--design-system-input-hover-border);
    }
}

.s__IUyhs0reoG80AXvvgvZI:disabled {
    border: 1px solid var(--design-system-input-disable-border);
    color: var(--design-system-input-disable-value);
    cursor: not-allowed;
}

.s__IUyhs0reoG80AXvvgvZI:focus {
    border: 1px solid var(--design-system-input-focus-border);
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__ofwNvw4pAlxnMOuYLtlc {
    background: var(--ink_800);
    font-family: var(--text-font-family);
}

.s__szWgOePI1B7u4H6X557h {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    max-width: 1150px;
    padding: 20px 20px 5px;
}

@media (min-width:568px) {
    .s__szWgOePI1B7u4H6X557h {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
}

.s__dCMzIz_Kb3gNyfjtUdVH {
    font-size: 0;
    margin: 0 12px 15px;
}

.s__dCMzIz_Kb3gNyfjtUdVH span {
    font-size: 13px;
}

.s__dCMzIz_Kb3gNyfjtUdVH:hover {
    text-decoration: none;
}

.s__HJOpa1LrJ4igRuLL2DOz {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
}

.s__dCMzIz_Kb3gNyfjtUdVH:hover .s__HJOpa1LrJ4igRuLL2DOz {
    color: #ff9d1b;
}

.s__HPFYpKRYCgpo3_cjBAOW {
    background-repeat: no-repeat;
    display: inline-block;
    font-style: normal;
    height: 20px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 20px;
}

.s__HPFYpKRYCgpo3_cjBAOW.s__R_WMRjnWCDFwBZj8n9bw {
    background: #fff;
    border-radius: 3px;
    color: #0d334a;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.s__dCMzIz_Kb3gNyfjtUdVH:hover .s__HPFYpKRYCgpo3_cjBAOW.s__R_WMRjnWCDFwBZj8n9bw {
    background: #ff9d1b;
}

.s__HPFYpKRYCgpo3_cjBAOW.s__CWc_Clqx8vNBOG0HmyFA {
    background-color: #fff;
    -webkit-mask: url(https://static.aviasales.com/selene-static/entrypoint/ed4eccdcbdf7a33fed73.svg);
    mask: url(https://static.aviasales.com/selene-static/entrypoint/ed4eccdcbdf7a33fed73.svg);
}

.s__dCMzIz_Kb3gNyfjtUdVH:hover .s__HPFYpKRYCgpo3_cjBAOW.s__CWc_Clqx8vNBOG0HmyFA {
    background-color: #ff9d1b;
}

.s__HPFYpKRYCgpo3_cjBAOW.s__RJ4IugOowy3cby4Bu95S {
    background-color: #fff;
    -webkit-mask: url(https://static.aviasales.com/selene-static/entrypoint/0e55a56a4c7b3f447216.svg);
    mask: url(https://static.aviasales.com/selene-static/entrypoint/0e55a56a4c7b3f447216.svg);
}

@media (min-width:568px) {
    .s__HPFYpKRYCgpo3_cjBAOW.s__RJ4IugOowy3cby4Bu95S {
        margin-right: 7px;
    }
}

.s__dCMzIz_Kb3gNyfjtUdVH:hover .s__HPFYpKRYCgpo3_cjBAOW.s__RJ4IugOowy3cby4Bu95S {
    background-color: #ff9d1b;
}

.s__JmZppwXy7VyQlLwtujHT:not(#\#) {
    position: relative;
}

.s__kekuzOm3hI_VbapClYlo:not(#\#) {
    max-width: 100%;
    transition-duration: .15s;
    transition-property: max-width;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
}

.s__r0RqRcyy7wL03S7ZHi6Y:not(#\#) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
}

.s__xpyogVxJX1sRKzgnEsZ8:not(#\#) {
    border-radius: 10px;
    height: 36px;
    width: 36px;
}

.s__lfclD3MAGrjE6VqLm6Mp:not(#\#) {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 288px;
    position: relative;
    width: 100%;
    z-index: 1;
}

@media (min-width:768px) {
    .s__lfclD3MAGrjE6VqLm6Mp:not(#\#) {
        max-width: 310px;
        min-width: 310px;
    }
}

.s__j0MUUrJoTurQuTsF3cot:not(#\#) {
    align-items: center;
    display: flex;
}

.s__JVxwC_5QU5w2QvkWZqTh:not(#\#) {
    display: flex;
    flex-shrink: 0;
    margin-right: 12px;
}

.s__sHYnyEdBE7B41DC9G1MP:not(#\#) {
    color: var(--text_primary);
}

.s__Ue_Ajftl5LoyI3aY6mFm:not(#\#) {
    display: flex;
    flex-flow: column nowrap;
}

.s__xc3RU0FrRz4z0oRUDlIG:not(#\#) {
    display: none;
}

@media (min-width:768px) {
    .s__xc3RU0FrRz4z0oRUDlIG:not(#\#) {
        grid-gap: 16px;
        align-items: center;
        background: var(--card_gray_on_modal_background);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        max-width: 310px;
        padding: 8px 12px;
        position: relative;
        text-align: left;
        width: 100%;
    }
}

@media (min-width:768px)and (hover:hover),
(min-width:768px)and (pointer:fine) {
    .s__xc3RU0FrRz4z0oRUDlIG:not(#\#) {
        cursor: pointer;
    }

    .s__xc3RU0FrRz4z0oRUDlIG:hover:not(#\#):after {
        background: var(--black_alpha_4);
        border-radius: 10px;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

@media (min-width:768px) {
    .s__xc3RU0FrRz4z0oRUDlIG:focus:not(#\#) {
        outline: 0;
    }
}

.s__XhM68O7hKhSiOeSjjl2A:not(#\#) {
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 360px;
}

.s__R7DSXd3K_C418rjiyMvK:not(#\#) {
    color: var(--text_primary);
}

.s__XzPEqpnUREPc46Skbm0M:not(#\#) {
    color: var(--text_secondary);
}

.s__ybM45Q4LfIxU1o1ChLA0:not(#\#) {
    grid-column: 2;
    grid-row: 1/2;
}

.s__xolxUuO0ZLmZmBINJ1F2:not(#\#) {
    display: none;
}

.s__usetyR6TtCUEOhsvs2qY:not(#\#) {
    display: block;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__oCmE5deTG2em1cWxjQIb:not(#\#) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1328px;
    padding: 24px;
    row-gap: 48px;
}

@media (min-width:768px) {
    .s__oCmE5deTG2em1cWxjQIb:not(#\#) {
        justify-content: space-between;
        padding-top: 64px;
        row-gap: 40px;
    }
}

.s__ViJynPm5kMern5gESreC:not(#\#) {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width:768px) {
    .s__ViJynPm5kMern5gESreC:not(#\#) {
        max-width: 170px;
    }
}

.s__epqS_ylkxfsevvlAPih9:not(#\#) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media (min-width:768px) {
    .s__epqS_ylkxfsevvlAPih9:not(#\#) {
        align-items: flex-start;
        width: unset;
    }
}

.s__HMKBkBNigZqCycW740UI:not(#\#) {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 310px;
    width: 100%;
}

@media (min-width:768px) {
    .s__HMKBkBNigZqCycW740UI:not(#\#) {
        justify-content: space-between;
    }
}

@media (min-width:1023px) {
    .s__HMKBkBNigZqCycW740UI:not(#\#) {
        flex-direction: column;
        gap: 24px;
        justify-content: flex-start;
        width: -moz-min-content;
        width: min-content;
    }
}

.s__kwmLv33fuRuJbQF9EGn0:not(#\#) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width:768px) {
    .s__kwmLv33fuRuJbQF9EGn0:not(#\#) {
        justify-content: space-between;
    }
}

.s__mBSfn3ILbkLjVQEnBw6s:not(#\#) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.s__YM4FxWI84e76lTXWDFfH:not(#\#) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

@media (min-width:768px) {
    .s__YM4FxWI84e76lTXWDFfH:not(#\#) {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.s__j26R8RfHaWgkYcrpj2Wd:not(#\#) {
    text-wrap: nowrap;
    color: var(--text_primary);
    display: flex;
    flex-direction: row;
    gap: 2px;
}

@media (min-width:768px) {
    .s__j26R8RfHaWgkYcrpj2Wd:not(#\#) {
        flex-direction: column;
    }
}

.s__pmu0WligdmB20RFgK9EV:not(#\#) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.s__TLJe1FUIxLANO6yQfVYg:not(#\#) {
    background-color: var(--black_alpha_8);
    border-radius: 12px;
    color: var(--ink_500);
    display: flex;
    padding: 6px;
}

.s__TLJe1FUIxLANO6yQfVYg:hover:not(#\#) {
    background-color: var(--black_alpha_16);
}

.s__FXldDNPawpEF93HXevul:not(#\#) {
    align-items: center;
    background: none;
    border: none;
    color: unset;
    cursor: pointer;
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 245px;
}

.s__mmJzZEu8GKOgHCj0IGsc:not(#\#) {
    align-items: center;
    background-color: var(--ink_25-graphite_800);
    border-radius: 12px;
    color: var(--brand_primary_500);
    display: flex;
    height: 40px;
    justify-content: center;
    min-width: 40px;
    width: 40px;
}

.s__FXldDNPawpEF93HXevul:hover:not(#\#) .s__mmJzZEu8GKOgHCj0IGsc {
    background-color: var(--black_alpha_8);
}

.s__YgGDhKPaJb6dq2hTtqid:not(#\#) {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.s__xKndYWllBOZkjuokiVWL:not(#\#) {
    color: var(--text_primary);
}

.s__FXldDNPawpEF93HXevul:hover:not(#\#) .s__xKndYWllBOZkjuokiVWL {
    color: var(--brand_primary_500);
}

.s__Zk4DmGh5y5oRqlbsedK3:not(#\#) {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    color: var(--text_tertiary);
    display: -webkit-box;
    overflow: hidden;
}

.s__xhKX6GdMQ9WbF0kxmDT2:not(#\#) {
    background: none;
    border: none;
    color: var(--text_primary);
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.s__xhKX6GdMQ9WbF0kxmDT2:hover:not(#\#) {
    color: var(--text_brand);
}

.s__Zp2kLFDVEmEHa1Rgi1vp:not(#\#) {
    background: var(--screen_white_background);
}

.s__wA3VJOlsNSMz7l64w_3H {
    width: 100%;
}

@media (min-width:1024px) {
    .s__wA3VJOlsNSMz7l64w_3H {
        display: flex;
        justify-content: center;
    }
}

.s__wA3VJOlsNSMz7l64w_3H input {
    display: none;
}

.s__Jm_YEkLE9T3AhLY6x2yQ {
    box-sizing: content-box;
    color: var(--ink_800);
    color: var(--footer-text-color);
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 600;
    height: 43px;
    letter-spacing: .5px;
    line-height: 22px;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
}

.s__Jm_YEkLE9T3AhLY6x2yQ:after {
    border-color: #90a4ae transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: "";
    height: 0;
    position: absolute;
    right: 7px;
    top: 30px;
    width: 0;
}

input:checked+.s__Jm_YEkLE9T3AhLY6x2yQ:after {
    border-color: transparent transparent #90a4ae;
    border-width: 0 5px 5px;
}

.s__Jm_YEkLE9T3AhLY6x2yQ:hover {
    color: var(--orange_500);
}

.s__Jm_YEkLE9T3AhLY6x2yQ:hover:after {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--brand_primary_500);
}

input:checked+.s__Jm_YEkLE9T3AhLY6x2yQ:hover:after {
    border-bottom-color: var(--brand_primary_500);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-width: 0 5px 5px;
}

@media (min-width:1024px) {
    .s__Jm_YEkLE9T3AhLY6x2yQ {
        display: none;
    }
}

.s__qy6z0pI1ej4aoOqaD4Mo {
    border-bottom: var(--selene-footer-border);
}

.s__qy6z0pI1ej4aoOqaD4Mo:last-child {
    border: none;
}

@media (min-width:1024px) {
    .s__qy6z0pI1ej4aoOqaD4Mo {
        border: none;
        flex-basis: 16.6%;
        margin-right: 10px;
    }
}

.s__wAUVx0e98GAviEwnSue5 {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height .3s cubic-bezier(.47, 0, .745, .715);
    will-change: max-height;
}

@media (min-width:1024px) {
    .s__wAUVx0e98GAviEwnSue5 {
        float: left;
        height: auto;
        margin-bottom: 28px;
        max-height: none;
    }
}

input:checked~.s__wAUVx0e98GAviEwnSue5 {
    box-sizing: content-box;
    max-height: 255px;
    transition: max-height .3s cubic-bezier(.47, 0, .745, .715);
}

.s__LWlr46G9GkFUlb0nqrou {
    font-family: var(--text-font-family);
    margin: auto;
    max-width: 1280px;
}

.s__FjmSXM9u1ieCvzskCX6p {
    zoom: 1;
    margin-left: 4.03226%;
    margin-right: 4.03226%;
}

.s__FjmSXM9u1ieCvzskCX6p:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.s__FjmSXM9u1ieCvzskCX6p a:hover {
    color: var(--orange_500);
    text-decoration: none;
}

.s__mK9DGAdGb58q9q_reByA {
    color: var(--ink_800);
    color: var(--footer-text-color);
    display: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

@media (min-width:1024px) {
    .s__mK9DGAdGb58q9q_reByA {
        display: block;
    }
}

.s__eHRaRBkiWPmBYzSWOEOL {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;
}

.s__eHRaRBkiWPmBYzSWOEOL a {
    color: var(--ink_800);
    color: var(--footer-text-color);
    font-size: 13px;
    line-height: 26px;
    text-decoration: none;
}

.s__kL5UecGWUndfZEEEZBT2 {
    font-weight: 600;
    margin-top: 5px;
    white-space: nowrap;
}

.s__kL5UecGWUndfZEEEZBT2 a {
    color: var(--brand_primary_500);
}

.s__kL5UecGWUndfZEEEZBT2 a:after {
    content: "→";
    display: inline-block;
    margin-left: 5px;
}

.footer {
    background-color: var(--white-dark);
    background-color: var(--selene-footer-bg);
    border-top: var(--selene-footer-border);
    padding: 40px 0 0;
    position: relative;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__ypCs9fRIPeeRn0KtSRKZ {
    --size-multiplier: 1;
}

.s__b94KuPvLBpZNvD6FxUf8 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.s__hsrlyzlx3QWLSvlrnWHX {
    --size-multiplier: 1.66667;
}

.s__zD3AwamEnPIArRJVcCHD {
    flex-direction: row;
}

.s__u_K6Z6G7PGoYltrwSeMG>.s__BVsFWQEwUNO7M1tMeawO {
    color: var(--brand_primary_500);
}

.s__VG75kQ4PnKMq3SwIw6iI {
    height: calc(30px*var(--size-multiplier));
    width: calc(30px*var(--size-multiplier));
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

.s__gF3vTeHzPI7PjjHV6JZ_ {
    --shimmer_width: 64px;
    --loading_shimmer_background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .72) 70%, hsla(0, 0%, 100%, 0));
}

.s__RBv92NmIL9FXOFpc5zKi {
    background-color: transparent;
    display: inline-block;
    height: calc(var(--image_height)*1px);
    overflow: hidden;
    position: relative;
    transition: background-color .1s ease-out .1s;
    width: calc(var(--image_width)*1px);
}

.s__Ty1iCg20_vtsohCGm82N {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.s__iau0V0G10WHQZLD9h1uH {
    opacity: 1;
}

.s__R41GT5TYf5DN421yKMoO {
    transition: opacity .3s ease-out;
}

@media all {
    a {
        color: var(--brand_primary_500);
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
}